<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sparta MyBlog</title>

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap"
      rel="stylesheet"
    />
    <!--Mystyle.css-->
    <link href="/mystyle.css" rel="stylesheet" />

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>


    
    <script>
      
      $(document).ready(function () {
          to_detail_form
      });
      // const queryString = window.location.search;
      // const urlParams = new URLSearchParams(queryString);
      // const articleId = urlParams.get("articleId");
      // console.log(articleId);
      function update_contents() {
        to_detail_form();

        $.ajax({
          type: "PUT",
          url: "/api/articles",
          data: {
            articleId: '<%=article._id%>',
            title: $("#article_title").val(),
            contents: $("#article_contents").val(),
            password: $("#article_input_password").val(),
            username: $('#article_input_username').val(),
          },
          error: function (xhr, status, error) {
            if(xhr.status===400){
              alert(xhr.responseJSON.msg);
              window.location.reload();
            }

          },
          success: function (response) {
            let msg = response['msg'];
            alert(msg);

            console.log('<%=article._id%>'==="");
            console.log('<%=article._id%>'==="");
            console.log('<%=article._id%>');
            
            if('<%=article._id%>'==="") window.location.href = "/api/articles" //글쓰기 
            else window.location.reload(); //업데이트
          },
        });
      }




      //수정 폼
      function to_update_form() {
          $("#btn-update").css("display", "none");
          $("#btn-save").css("display", "inline");
          $("#article_contents").attr("disabled", false);
          $("#article_contents").css("background-color", "#F5F5DC");
          $("#article_title").css("border-width", "1px");
          $("#article_title").attr("disabled", false);
          $("#article_title").css("background-color", "#F5F5DC");
          $("#article_password").css("display", "inline");
      }


      //상세페이지 폼
      function to_detail_form() {
          $("#btn-update").css("display", "inline");
          $("#btn-save").css("display", "none");
          $("#article_contents").attr("disabled", true);
          $("#article_contents").css("background-color", "white");
          $("#article_title").css("border-width", "0px");
          $("#article_title").attr("disabled", true);
          $("#article_title").css("background-color", "white");
          $("#article_password").css("display", "inline");
      }

      //글쓰기 폼
      function to_write_form() {
          to_update_form();
          $('#article_username').css("display", "inline");
          $('#btn-delete').css('display','none');
          
      }

      function deleteArticle(){
        $.ajax({
          type: "DELETE",
          url: '/api/articles',
          data: {
            articleId:'<%=article._id%>',
            password:$('#article_input_password').val()
          },
          error: function (xhr, status, error) {
            if(xhr.status===400){
              console.log(xhr);
              alert(xhr.responseJSON.msg);
            }
          },
          success: function (response) {
            alert(response['msg']);
            window.location.href = "/api/articles";
          },
        });
      }
      
      $(document).ready(function () {
        if("<%=article._id%>"==='') to_write_form();
      });
    </script>
    <style>
      /*contents textArea*/
      label,
      textarea {
        font-size: 30px;
        letter-spacing: 1px;
      }
      textarea {
        height: 90%;
        width: 100%;
        padding: 10px;
        max-width: 100%;
        line-height: 1.5;
        border-radius: 5px;
        border: 1px solid #ccc;
        box-shadow: 1px 1px 1px #999;
      }

      label {
        display: block;
        margin-bottom: 10px;
      }
      /*contents textArea*/

      #btn-update {
        padding-right: 13px;
        margin: 10px;
        display: inline;
      }

      #btn-save {
        display: none;
        margin: 10px;
      }

      #article_title {
        border-width: 0px;
        height: 70px;
        font-size: 30px;
      }

      #article_auth {
        display: none;
      }
      #article_username {
        display: none;
      }
    </style>
  </head>

  <body>
    <div class="wrap">
      <div class="banner" onclick="window.location.href = '/'"></div>
      <div class="container" style="height: 600px">
        <div class="d-flex justify-content-between align-items-end">
          <div>
            <input
              type="text"
              id="article_title"
              size="30"
              disabled="true"
              placeholder="제목을 입력하세요."
              <% if (article) { %> value="<%=article.title%>"<%}%>
            />
          
            <!-- <h1 id="article_title" style="display: inline"></h1> -->
          </div>

          <div>
            <button
              id="btn-save"
              class="btn btn-outline-sparta btn-lg"
              onclick="update_contents()"
            >
              <i class="far fa-save"></i>
            </button>

            <button
              id="btn-update"
              class="btn btn-outline-sparta btn-lg"

              <% if(article){ %>
                onclick="to_update_form()"   
              <% } else { %>
                onclick="to_write_form()"   
              <% } %>
            >
              <i class="fas fa-edit"></i>
            </button>

            <button
              id="btn-delete"
              class="btn btn-sparta btn-lg"
              onclick="deleteArticle()"
            >
              <i class="fas fa-trash"></i>
            </button>
          </div>
        </div>
        <hr />
        <div id="box" style="height: 80%">
          <div style="padding: 10px; width: 100%; height: 100%">
            <div>
              <span>Tell us your story:</span>

              <div
                id="article_auth"
                style="display: inline; float: right; margin-bottom: 10px"
              >
                <div id ="article_username">
                  NAME :<input id="article_input_username" type="text" style="width: 150px" placeholder="사용자 이름"/>
                </div>
                &nbsp;&nbsp;
                <div id = "article_password" style="display: inline;">
                  PASSWORD :
                  <input id="article_input_password" type="password" style="width: 150px;" placeholder="비밀번호" />
                </div>
              </div>
            </div>

            <textarea
              id="article_contents"
              name="story"
              rows="5"
              cols="33"
              disabled="true"
              placeholder="텍스트를 입력하세요"
            ><% if (article) { %><%=article.contents%><%}%></textarea>

            <!-- <% if(article){ %>
              <input id="ejs-box" style="display: none;" type="text" value=<%= article._id %> />
            <% } else { %>
              <input id="ejs-box" style="display: none;" type="text" value='' %> />
            <% } %> -->
            
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
