<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MyBlog</title>

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap"
      rel="stylesheet"
    />
    <!--Mystyle.css-->
    <link href="/mystyle.css" rel="stylesheet" />

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <script>
      let user=null;

      $(document).ready(function () {
        to_detail_form();
        if(localStorage.getItem("token")){
              $.ajax({
                type: "GET",
                url: "/users/me",
                headers: {
                  authorization: `Bearer ${localStorage.getItem("token")}`,
                },
                success: function (response) {
                  user=response.user;
                  if ('<%=article._id%>'==='') to_write_form();
                  $("#login").hide();
                  $('#login_user').text(user.username);

                },
                error: function (xhr, status, error) {

                },
              });
          }
          else{
            $('#sign_out').hide();
                  let e = document.getElementById("comment_contents");
                  e.addEventListener('click',function(event){
                      alert('로그인 후 이용하시오');
                      window.location.href='/login';
            });
          }

      });


      function mine(id){
        let e = document.getElementById(id);
            e.addEventListener('click',function(event){
                alert('권한이 없습니다.');
            });
      }


      function signOut() {
        alert('로그아웃');
        localStorage.clear();
        window.location.href = "/login";
      }

      function update_contents() {
        to_detail_form();

        $.ajax({
          type: "PUT",
          url: "/api/articles",
          data: {
            articleId: "<%=article._id%>",
            title: $("#article_title").val(),
            contents: $("#article_contents").val(),
          },
          headers: {
            authorization: `Bearer ${localStorage.getItem("token")}`,
          },
          error: function (xhr, status, error) {
            if (xhr.status === 400) {
              alert(xhr.responseJSON.msg);
              window.location.reload();
            }
          },
          success: function (response) {
            let msg = response["msg"];
            alert(msg);
            if ("<%=article._id%>" === "") window.location.href = "/api/articles";
            else window.location.reload(); //새로고침
          },
        });
      }


      function to_write_update_form(){
        $("#btn-update").css("display", "none");
        $("#btn-save").css("display", "inline");
        $("#article_contents").attr("disabled", false);
        $("#article_contents").css("background-color", "#F5F5DC");
        $("#article_title").css("border-width", "1px");
        $("#article_title").attr("disabled", false);
        $("#article_title").css("background-color", "#F5F5DC");
      }



      //수정 폼
      function to_update_form() {
        if (user) {
          //일치하지 않는 회원
          
          if(user.username !== "<%=article.username%>"){
            alert("올바른 사용자가 아님");
            window.location.href='/api/articles';
            return;
          }
        } else {
          //비회원
          alert("올바른 사용자가 아님");
          window.location.href='/login'
          return;
        }

        to_write_update_form();

      }

      //상세페이지 폼
      function to_detail_form() {
        $("#btn-update").css("display", "inline");
        $("#btn-save").css("display", "none");
        $("#article_contents").attr("disabled", true);
        $("#article_contents").css("background-color", "white");
        $("#article_title").css("border-width", "0px");
        $("#article_title").attr("disabled", true);
        $("#article_title").css("background-color", "white");
      }

      //글쓰기 폼
      function to_write_form() {
        to_write_update_form();
        $("#btn-delete").css("display", "none");
      }

      function deleteArticle() {
        if(user===null){
          alert('삭제 권한이 없습니다.');
          window.location.href='/login';
        }

        $.ajax({
          type: "DELETE",
          url: "/api/articles",
          data: {
            articleId: "<%=article._id%>",
          },
          headers: {
            authorization: `Bearer ${localStorage.getItem("token")}`,
          },
          error: function (xhr, status, error) {
            if (xhr.status === 400) {
              alert(xhr.responseJSON.msg);
              window.location.href='/api/articles';
            }
          },
          success: function (response) {
            alert(response["msg"]);
            window.location.href = "/api/articles";
          },
        });
      }

      function add_comment() {
        if(user===null){
          alert('작성 권한이 없습니다.');
          window.location.href='/login';
        }

        $.ajax({
          type: "POST",
          url: "/api/comments",
          data: {
            articleId: "<%=article._id%>",
            contents:$('#comment_contents').val(),
          },
          headers: {
            authorization: `Bearer ${localStorage.getItem("token")}`,
          },
          error: function (xhr, status, error) {
            if (xhr.status === 400) {
              alert(xhr.responseJSON.msg);
              window.location.reload();
            }
          },
          success: function (response) {
            alert(response["msg"]);
            window.location.reload();
          },
        });
      }

      function update_comment_form(comment_id,comment_username){
          if(comment_username===user.username){
              $(`#${comment_id}`).attr('disabled',false);
              $(`#${comment_id}`).css('border-width','1px');
              $(`#update_com_${comment_id}`).css('display','none');
              $(`#save_com_${comment_id}`).css('display','block');
            }
          else{
            alert('수정 권한 없음');
            return;
          }
      }

      function normal_comment_form(comment_id){
          $(`#${comment_id}`).attr('disabled',true);
          $(`#${comment_id}`).css('border-width','0px');
          $(`#update_com_${comment_id}`).css('display','block');
          $(`#save_com_${comment_id}`).css('display','none');
      }

      function save_comment(comment_id){
        normal_comment_form(comment_id);
        $.ajax({
          type: "PUT",
          url: "/api/comments",
          data: {
            commentId: comment_id,
            contents:$(`#${comment_id}`).val(),
          },
          headers: {
            authorization: `Bearer ${localStorage.getItem("token")}`,
          },
          error: function (xhr, status, error) {
            if (xhr.status === 400) {
              alert(xhr.responseJSON.msg);
              window.location.reload();
            }
          },
          success: function (response) {
            alert(response["msg"]);
            window.location.reload();
          },
        });
      }

      function delete_comment(commentId){


        if(!confirm("정말 삭제하시겠습니까?")){
          return;
        }


        $.ajax({
          type: "DELETE",
          url: "/api/comments",
          data: {
            commentId: commentId,
          },
          headers: {
            authorization: `Bearer ${localStorage.getItem("token")}`,
          },
          error: function (xhr, status, error) {
            if (xhr.status === 400) {
              alert(xhr.responseJSON.msg);
              window.location.reload();
            }
          },
          success: function (response) {
            alert(response["msg"]);
            window.location.reload();
          },
        });
      }
      

      function mypage(){
        alert('에라 모르겠다~');
      }


    </script>
    <style>
      /*contents textArea*/
      label,
      textarea {
        font-size: 30px;
        letter-spacing: 1px;
      }
      textarea {
        height: 90%;
        width: 100%;
        padding: 10px;
        max-width: 100%;
        line-height: 1.5;
        border-radius: 5px;
        border: 1px solid #ccc;
        box-shadow: 1px 1px 1px #999;
      }

      label {
        display: block;
        margin-bottom: 10px;
      }
      /*contents textArea*/

      #btn-update {
        padding-right: 13px;
        margin: 10px;
        display: inline;
      }

      #btn-save {
        display: none;
        margin: 10px;
      }

      #article_title {
        border-width: 0px;
        height: 70px;
        font-size: 30px;
      }


      .comment_line {
        width:95%;
        overflow-wrap: break-word;
        word-break: break-all;  
        word-wrap: break-word;
        font-size: 20px;
        display:inline;
      }


      * {
		margin: 0;
		padding: 0;
	}
/* ul li태그에 리스트 스타일을 없앰 */
	ul li{
		list-style: none;
	}
/* a태그에 텍스트 밑줄을 없애고 색상을 #333 */
	a {
		text-decoration: none;
		color:#333;
	}
  dropdown-menu > dropdown-item  :hover{
    cursor: pointer;
  }
  .dropdown-menu a:hover {background-color: #ddd; cursor: pointer;}


      #login{
        float: right;
        margin-right: 10px;
      }
      
      #sign_out{
        float: right;
        margin-right: 10px;
      }
      #login_user{
        float:right;
        margin-right: 10px;
      }
    </style>
  </head>

  <body>
    <div class="wrap">
      <div
        class="banner"
        onclick="window.location.href = '/api/articles'"
      >
    
        <a id = login href = '/login'>로그인</a>
        <a id= sign_out href="javascript:signOut();">로그아웃</a>
        <a id = login_user href="javascript:mypage()"></a>
    </div>


      <div class="container" style="height: 600px">
        <div class="d-flex justify-content-between align-items-end">
          <div>
            <h5 style="font-weight: bold;"><%=article.username%>&nbsp;&nbsp;<span style="font-size: 13px;"><%=article.date%></span></h5>
            
            <input
              type="text"
              id="article_title"
              size="30"
              disabled="true"
              placeholder="제목을 입력하세요."
              <% if(article){ %>
                 value="<%=article.title%>" 
              <% } %> 
            />
          </div>

          <div>
            <button
              id="btn-save"
              class="btn btn-outline-sparta btn-lg"
              onclick="update_contents()"
            >
              <i class="far fa-save"></i>
            </button>

            <button
              id="btn-update"
              class="btn btn-outline-sparta btn-lg"
              <% if(article){ %>onclick="to_update_form()"<%}%>>
              <i class="fas fa-edit"></i>
            </button>

            <button
              id="btn-delete"
              class="btn btn-sparta btn-lg"
              onclick="deleteArticle()"
            >
              <i class="fas fa-trash"></i>
            </button>
          </div>
        </div>
        <hr />
        <div id="box" style="height: 80%">
          <div style="padding: 10px; width: 100%; height: 100%">
            <div>
              <span>Tell us your story:</span>

            </div>

            <textarea
              id="article_contents"
              name="story"
              rows="5"
              cols="33"
              disabled="true"
              placeholder="텍스트를 입력하세요"
            ><% if (article) { %><%=article.contents%><%}%></textarea>
          </div>
        </div>


      </div>


      <% if(comments){ %>
    <div id="comments-box" class="container">
      
        <h3 style="margin-bottom:1rem;text-align: center;">Leave your Comment</h3>
          <% for(let i = 0; i < comments.length; i++){ %>

            <div style="margin-bottom: 20px;"> 
              <div id = comment_title style="background-color:black; color:white;">&nbsp;&nbsp;<%=comments[i].username%>&nbsp;&nbsp;<span style="font-size: 13px;"><%=comments[i].date%></span></div>

              <div style="background-color:rgb(252, 242, 231); padding-bottom: 0px;"> 
                   
                      <textarea class = comment_line id = '<%=comments[i]._id%>' disabled=true><%=comments[i].contents%></textarea>
                      <!-- Example split danger button -->


                    <%if(username==comments[i].username){%>
                        <div class="btn-group float-right">
                          <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                          </button>
                          <div class="dropdown-menu">
                            <a id = 'update_com_<%=comments[i]._id%>' class="dropdown-item" onclick="update_comment_form('<%=comments[i]._id%>','<%=comments[i].username%>')">수정</a>
                            <a id = 'save_com_<%=comments[i]._id%>' class="dropdown-item" style = 'display:none' onclick="save_comment('<%=comments[i]._id%>','<%=comments[i].username%>')">저장</a>
                            <a id = 'delete_com_<%=comments[i]._id%>' class="dropdown-item" onclick="delete_comment('<%=comments[i]._id%>')">삭제</a>
                          </div>
                        </div>
                    <%}%>
                        <!-- <input class='comment_line' id='<%=comments[i]._id%>' disabled='true' value ='<%=comments[i].contents%>' /> -->
              </div>

            </div>

            
          <% } %>
     


        <div class="d-flex justify-content-between" style="margin-left:20px;">
            <input id="comment_contents" class="form-control form-control-sm" style="margin-right: 0.5rem">
            <button class="btn btn-outline-secondary btn-sm" onclick="add_comment()">등록</button>
        </div>
    </div>

  <% } %>

    </div>
  </body>
</html>
